:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-primary);
}

.flex {
  display: flex;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

header {
  gap: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

header p {
  color: var(--content-secondary);
  font-family: "Sora", sans-serif;
  font-size: 26.67px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 1px;
}

main {
  justify-content: center;
  margin-top: 60px;
}

#main-content {
  width: 627px;
}

#content-holder {
  flex-direction: column;
  gap: 40px;
}

#back-button {
  margin-bottom: 16px;
}

#back-button a {
  color: var(--color-brand);
  text-decoration: none;
}

#back-button a:hover {
  color: var(--color-brand-hover);
}

#title-section {
  color: var(--content-primary);
}

#add-item {
  height: 44px;
  gap: 16px;
  align-items: center;
}

#add-item input {
  height: 100%;
  border-radius: 12px;
  color: var(--content-tertiary);
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
}

#add-item input[type="text"] {
  border: 2px solid var(--border-primary);
  width: 451px;
  padding: 0 16px;
}

#add-item input[type="text"]::placeholder {
  color: var(--border-primary);
}

#add-item input[type="button"] {
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  color: var(--always-white);
  width: 160px;
  cursor: pointer;
}

#add-item input[type="button"]:hover {
  border: 2px solid var(--color-brand-hover);
  background-color: var(--color-brand-hover);
}

#content-container {
  flex-direction: column;
  gap: 12px;
}

.content-item {
  align-items: center;
  justify-content: space-between;
  padding: 8px 19px;
  background-color: var(--background-secondary);
  border-radius: 12px;
  height: 44px;
}

.content-item.warning {
  padding: 0 12px;
  color: var(--always-white);
  background-color: var(--color-danger);
}

.content-item.warning .flex {
  gap: 8px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 664px) {
  main {
    padding: 0 18px;
    min-width: 420px;
  }
  #main-content {
    width: 100%;
  }
  #title-section {
    text-align: center;
  }
  header {
    min-width: 420px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 665px) {
  #main-content {
    width: 90%;
  }
}
